# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

In [2]:
path = "Exercise Data Files/Pandas Exercise Simple Joins files/"
cars1 = pd.read_csv(path + "cars1.csv")
cars2 = pd.read_csv(path + "cars2.csv")

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1.dropna(axis = 1, inplace = True)

In [6]:
cars1.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320

### Step 5. What is the number of observations in each dataset?

In [7]:
cars1.shape[0]

198

In [8]:
cars2.shape[0]

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = pd.merge(left = cars1, right = cars2, on = "car", suffixes = ("_cars1", "_cars2"))

In [10]:
cars

,mpg_cars1,cylinders_cars1,displacement_cars1,horsepower_cars1,weight_cars1,acceleration_cars1,model_cars1,origin_cars1,car,mpg_cars2,cylinders_cars2,displacement_cars2,horsepower_cars2,weight_cars2,acceleration_cars2,model_cars2,origin_cars2
0,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),16.9,8,350,155,4360,14.9,79,1
1,25.0,4,110,87,2672,17.5,70,2,peugeot 504,19.0,4,120,88,3270,21.9,76,2
2,25.0,4,110,87,2672,17.5,70,2,peugeot 504,27.2,4,141,71,3190,24.8,79,2
3,23.0,4,120,88,2957,17.0,75,2,peugeot 504,19.0,4,120,88,3270,21.9,76,2
4,23.0,4,120,88,2957,17.0,75,2,peugeot 504,27.2,4,141,71,3190,24.8,79,2
5,25.0,4,113,95,2228,14.0,71,3,toyota corona,27.5,4,134,95,2560,14.2,78,3
6,31.0,4,76,52,1649,16.5,74,3,toyota corona,27.5,4,134,95,2560,14.2,78,3
7,24.0,4,134,96,2702,13.5,75,3,toyota corona,27.5,4,134,95,2560,14.2,78,3
8,25.0,4,98,?,2046,19.0,71,1,ford pinto,26.5,4,140,72,2565,13.6,76,1
9,19.0,4,122,85,2310,18.5,73,1,ford pinto,26.5,4,140,72,2565,13.6,76,1
10,26.0,4,122,80,2451,16.5,74,1,ford pinto,26.5,4,140,72,2565,13.6,76,1
11,23.0,4,140,83,2639,17.0,75,1,ford pinto,26.5,4,140,72,2565,13.6,76,1
12,18.0,6,171,97,2984,14.5,75,1,ford pinto,26.5,4,140,72,2565,13.6,76,1
13,13.0,8,400,170,4746,12.0,71,1,ford country squire (sw),15.5,8,351,142,4054,14.3,79,1
14,13.0,8,350,145,3988,13.0,73,1,chevrolet malibu,20.5,6,200,95,3155,18.2,78,1
15,13.0,8,400,150,4464,12.0,73,1,chevrolet caprice classic,17.5,8,305,145,3880,12.5,77,1
16,13.0,8,400,150,4464,12.0,73,1,chevrolet caprice classic,17.0,8,305,130,3840,15.4,79,1
17,20.0,6,156,122,2807,13.5,73,3,toyota mark ii,19.0,6,156,108,2930,15.5,76,3
18,26.0,4,79,67,1963,15.5,74,2,volkswagen dasher,30.5,4,97,78,2190,14.1,77,2
19,25.0,4,90,71,2223,16.5,75,2,volkswagen dasher,30.5,4,97,78,2190,14.1,77,2
20,28.0,4,90,75,2125,14.5,74,1,dodge colt,27.9,4,156,105,2800,14.4,80,1
21,26.0,4,98,79,2255,17.7,76,1,dodge colt,27.9,4,156,105,2800,14.4,80,1
22,24.0,4,120,97,2489,15.0,74,3,honda civic,33.0,4,91,53,1795,17.4,76,3
23,24.0,4,120,97,2489,15.0,74,3,honda civic,38.0,4,91,67,1965,15.0,82,3
24,26.0,4,108,93,2391,15.5,74,3,subaru,32.3,4,97,67,2065,17.8,81,3
25,17.0,6,231,110,3907,21.0,75,1,buick century,22.4,6,231,110,3415,15.8,81,1
26,29.0,4,97,75,2171,16.0,75,3,toyota corolla,28.0,4,97,75,2155,16.4,76,3
27,29.0,4,97,75,2171,16.0,75,3,toyota corolla,32.2,4,108,75,2265,15.2,80,3
28,29.0,4,97,75,2171,16.0,75,3,toyota corolla,32.4,4,108,75,2350,16.8,81,3
29,29.0,4,97,75,2171,16.0,75,3,toyota corolla,34.0,4,108,70,2245,16.9,82,3
30,29.0,4,90,70,1937,14.0,75,2,volkswagen rabbit,29.5,4,97,71,1825,12.2,76,2
31,33.0,4,91,53,1795,17.5,75,3,honda civic cvcc,36.1,4,91,60,1800,16.4,78,3
32,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,30.5,4,98,63,2051,17.0,77,1
33,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,30.0,4,98,68,2155,16.5,78,1
34,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,32.1,4,98,70,2120,15.5,80,1
35,29.0,4,90,70,1937,14.2,76,2,vw rabbit,41.5,4,98,76,2144,14.7,80,2

### Step 7. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [11]:
owners = pd.Series(np.random.randint(15000, 73001, size = cars.shape[0] ))

In [12]:
owners

0     52406
1     45508
2     20339
3     19170
4     15287
5     52913
6     33859
7     49001
8     38449
9     18042
10    42357
11    30904
12    29281
13    48580
14    18529
15    37202
16    70567
17    42400
18    20392
19    63507
20    61167
21    33462
22    32799
23    36727
24    51724
25    69683
26    61591
27    25884
28    29585
29    55973
30    67442
31    46177
32    70460
33    24968
34    35702
35    53144
dtype: int32

### Step 8. Add the column owners to cars

In [13]:
cars["Owners"] = owners

In [14]:
cars

,mpg_cars1,cylinders_cars1,displacement_cars1,horsepower_cars1,weight_cars1,acceleration_cars1,model_cars1,origin_cars1,car,mpg_cars2,cylinders_cars2,displacement_cars2,horsepower_cars2,weight_cars2,acceleration_cars2,model_cars2,origin_cars2,Owners
0,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),16.9,8,350,155,4360,14.9,79,1,52406
1,25.0,4,110,87,2672,17.5,70,2,peugeot 504,19.0,4,120,88,3270,21.9,76,2,45508
2,25.0,4,110,87,2672,17.5,70,2,peugeot 504,27.2,4,141,71,3190,24.8,79,2,20339
3,23.0,4,120,88,2957,17.0,75,2,peugeot 504,19.0,4,120,88,3270,21.9,76,2,19170
4,23.0,4,120,88,2957,17.0,75,2,peugeot 504,27.2,4,141,71,3190,24.8,79,2,15287
5,25.0,4,113,95,2228,14.0,71,3,toyota corona,27.5,4,134,95,2560,14.2,78,3,52913
6,31.0,4,76,52,1649,16.5,74,3,toyota corona,27.5,4,134,95,2560,14.2,78,3,33859
7,24.0,4,134,96,2702,13.5,75,3,toyota corona,27.5,4,134,95,2560,14.2,78,3,49001
8,25.0,4,98,?,2046,19.0,71,1,ford pinto,26.5,4,140,72,2565,13.6,76,1,38449
9,19.0,4,122,85,2310,18.5,73,1,ford pinto,26.5,4,140,72,2565,13.6,76,1,18042
10,26.0,4,122,80,2451,16.5,74,1,ford pinto,26.5,4,140,72,2565,13.6,76,1,42357
11,23.0,4,140,83,2639,17.0,75,1,ford pinto,26.5,4,140,72,2565,13.6,76,1,30904
12,18.0,6,171,97,2984,14.5,75,1,ford pinto,26.5,4,140,72,2565,13.6,76,1,29281
13,13.0,8,400,170,4746,12.0,71,1,ford country squire (sw),15.5,8,351,142,4054,14.3,79,1,48580
14,13.0,8,350,145,3988,13.0,73,1,chevrolet malibu,20.5,6,200,95,3155,18.2,78,1,18529
15,13.0,8,400,150,4464,12.0,73,1,chevrolet caprice classic,17.5,8,305,145,3880,12.5,77,1,37202
16,13.0,8,400,150,4464,12.0,73,1,chevrolet caprice classic,17.0,8,305,130,3840,15.4,79,1,70567
17,20.0,6,156,122,2807,13.5,73,3,toyota mark ii,19.0,6,156,108,2930,15.5,76,3,42400
18,26.0,4,79,67,1963,15.5,74,2,volkswagen dasher,30.5,4,97,78,2190,14.1,77,2,20392
19,25.0,4,90,71,2223,16.5,75,2,volkswagen dasher,30.5,4,97,78,2190,14.1,77,2,63507
20,28.0,4,90,75,2125,14.5,74,1,dodge colt,27.9,4,156,105,2800,14.4,80,1,61167
21,26.0,4,98,79,2255,17.7,76,1,dodge colt,27.9,4,156,105,2800,14.4,80,1,33462
22,24.0,4,120,97,2489,15.0,74,3,honda civic,33.0,4,91,53,1795,17.4,76,3,32799
23,24.0,4,120,97,2489,15.0,74,3,honda civic,38.0,4,91,67,1965,15.0,82,3,36727
24,26.0,4,108,93,2391,15.5,74,3,subaru,32.3,4,97,67,2065,17.8,81,3,51724
25,17.0,6,231,110,3907,21.0,75,1,buick century,22.4,6,231,110,3415,15.8,81,1,69683
26,29.0,4,97,75,2171,16.0,75,3,toyota corolla,28.0,4,97,75,2155,16.4,76,3,61591
27,29.0,4,97,75,2171,16.0,75,3,toyota corolla,32.2,4,108,75,2265,15.2,80,3,25884
28,29.0,4,97,75,2171,16.0,75,3,toyota corolla,32.4,4,108,75,2350,16.8,81,3,29585
29,29.0,4,97,75,2171,16.0,75,3,toyota corolla,34.0,4,108,70,2245,16.9,82,3,55973
30,29.0,4,90,70,1937,14.0,75,2,volkswagen rabbit,29.5,4,97,71,1825,12.2,76,2,67442
31,33.0,4,91,53,1795,17.5,75,3,honda civic cvcc,36.1,4,91,60,1800,16.4,78,3,46177
32,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,30.5,4,98,63,2051,17.0,77,1,70460
33,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,30.0,4,98,68,2155,16.5,78,1,24968
34,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,32.1,4,98,70,2120,15.5,80,1,35702
35,29.0,4,90,70,1937,14.2,76,2,vw rabbit,41.5,4,98,76,2144,14.7,80,2,53144